<!DOCTYPE html>
<html>
    <head>
        <title>MY APP</title>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css'>

    </head>
<body class='bg-info'>
    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top:25px;padding:20px;">
            {{{body}}}
        </div>
    </div>
</body>
</html>